.intro-block {
  margin-bottom: $m-size;
  display: flex;
}

.intro {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.profile-pic {
  width: 300px;
  margin-right: 5rem;
  margin-left: 0;
}
